// Esp. for mobiles.
$smallscreen-width: 650px;
// Small screens
@media screen and (max-width: $smallscreen-width) {
    .cheats>table tr td:nth-child(1) {
        width: 150px;
    }
    .keywords>table tr td:nth-child(1) {
        width: 150px;
    }
    .keywords>table tr td:nth-child(2) {
        width: 150px;
    }
}

// Larger screens
@media screen and (min-width: $smallscreen-width) {
    .cheats>table tr td:nth-child(1) {
        width: 220px;
    }
    .keywords>table tr td:nth-child(1) {
        width: 150px;
    }
    .keywords>table tr td:nth-child(2) {
        width: 200px;
    }
}

// Larger screens
@media print {
    .noprint {
        display: none;
    }
}

.entry {
    color: rgb(0, 110, 0);
    font-size: 65%;
}

.mid {
    color: rgb(143, 93, 1);
    font-size: 65%;
}

.expert {
    color: rgb(184, 0, 0);
    font-size: 65%;
}

.generalsup {
    font-size: 65%;
}

sup {
    padding: -5px;
}