$smallscreen-width: 650px;


@mixin min-screen($min-width: $body-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}

@mixin max-screen($max-width: $body-width) {
    @media screen and (max-width: $max-width) {
        @content;
    }
}


.page {
    position: absolute;
    width: 100%;
    height: 100%; // overflow-y: auto;
    color: #000;
    background: #fff;
    padding-bottom: 20px;
    transition: 0.5s;
    .zola-anchor {
        color: #4183c4;
        padding-left: 10px;
        text-decoration: none;
        font-weight: initial;
        &:hover {
            text-decoration: underline;
        }
    }
    img {
        max-width: 100%;
    }
    &__content {
        a {
            color: #4183c4;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        hr {
            height: 4px;
            padding: 0;
            margin: 1.7em 0;
            overflow: hidden;
            background-color: #e7e7e7;
            border: none;
        }
        pre {
            padding: 1rem;
            span {
                white-space: pre-wrap;
            }
        }
        blockquote {
            margin: 0;
            margin-bottom: .85em;
            padding: 10px 10px 1px 10px;
            background-color: #e1f3ff; // border-left: 4px solid #e5e5e5;
        }
        code {
            display: inline-block;
            vertical-align: middle;
            padding: 0.1em 0.3em;
            border-radius: 3px;
            color: #6e6b5e;
            background: #f1f1f1;
            font-size: 0.875em;
            font-family: "Fira Code", monospace;
        }
        iframe {
            border: 0;
        }
        table {
            width: 100%;
            margin: 0 auto;
            border-collapse: collapse;
            border-color: #cccccc;
            td {
                padding: 3px 5px 3px 20px;
                border: 1px hsl(0, 0%, 95%) solid;
            }
            thead {
                background: hsl(0, 0%, 80%);
                th {
                    font-weight: bold;
                    border: 1px solid #ccc;
                }
                td {
                    font-weight: 700;
                    border: none;
                }
                tr {
                    border: 1px hsl(0, 0%, 95%) solid;
                }
            }
            /* Alternate background colors for rows */
            tbody {
                tr:nth-child(2n) {
                    background: hsl(0, 0%, 97%);
                }
            }
        }
        font-size: 1.6rem;
        word-wrap: break-word;
        line-height: 1.5;
        position: relative;
        left: 0;
        color: #333;
        max-width: 800px;
        margin: 0 auto;
        padding: 0 15px 40px;
        p {
            margin-top: 0;
            margin-bottom: 0.85em;
        }
    }
    .previous,
    .next {
        position: fixed;
        display: flex;
        top: 50px;
        bottom: 0;
        font-size: 2.5em;
        color: #ccc;
        text-decoration: none;
        text-align: center;
        margin: 0;
        max-width: 150px;
        min-width: 90px;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        &:hover {
            color: #333;
        }
    }
    .previous {
        left: 0px;
        float: left;
        transition: left 0.5s;
    }
    .next {
        // not 0 as it goes over the sidebar otherwise
        right: 15px;
        float: right;
    }
    @include max-screen(1250px) {
        .previous,
        .next {
            position: static;
            top: auto;
            display: inline-block;
            max-width: 49%;
            width: 49%;
            &:hover {
                text-decoration: none;
            }
        }
    }
}


.controls {
    font-size: 60%;
    text-align: right;
}


// Attached to `body` to enable night mode, inspiration from
// https://lnikki.la/articles/night-mode-css-filter/
.night-mode {
    background-color: black;
    filter: invert(1) hue-rotate(180deg);
}


@include max-screen(600px) {
    .page {
        width: 100%;
        left: 0;
    }
}


// Small screens
@media screen and (max-width: $smallscreen-width) {
    .cheats>table tr td:nth-child(1) {
        width: 150px;
    }
    .keywords>table tr td:nth-child(1) {
        width: 150px;
    }
    .keywords>table tr td:nth-child(2) {
        width: 150px;
    }
}


// Larger screens
@media screen and (min-width: $smallscreen-width) {
    .cheats>table tr td:nth-child(1) {
        width: 235px;
    }
    .keywords>table tr td:nth-child(1) {
        width: 150px;
    }
    .keywords>table tr td:nth-child(2) {
        width: 200px;
    }
}


// Larger screens
@media print {
    .noprint {
        display: none;
    }
}
