@charset "utf-8";

@import "normalize";
@import "html";
@import "page";


img#logo {
    position: relative;
    top: 40px;
}

div#helloctrl {
    text-align: right;
}

div.controls {
    font-size: 9px;
    text-align: right;

    a {
        margin-left: 15px;
    }
}

div.title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

div.subtitle {
    text-align: center;
    margin-bottom: 40px;
}

div.footnotes {
    margin-top: 5px;
    font-size: 80%;
}

div.toc {
    display: flex;
    margin-top: 40px;
}

div.column {
    flex: 50%;
}


.header-red {
    th {
        background-color: rgb(247, 215, 236);
    }
}


.header-blue {
    th {
        background-color: rgb(128, 186, 209);
    }
}

.header-green {
    th {
        background-color: rgb(164, 206, 164);
    }
}

.header-orange {
    th {
        background-color: rgb(241, 206, 159);
    }
}

.header-magenta {
    th {
        background-color: rgb(216, 162, 226);
    }
}

.header-lemongrass {
    th {
        background-color: rgb(211, 231, 157);
    }
}

.header-undefined-color-3 {
    th {
        background-color: rgb(157, 231, 203);
    }
}

.header-lobstercrabs {
    th {
        background-color: rgb(231, 164, 147);
    }
}

.header-lavender {
    th {
        background-color: rgb(175, 161, 212);
    }
}






span.good {
    color: green;
}

span.bad {
    color: darkred;
}

span.cargo-prefix {
    border: 1px solid rgb(200, 200, 200);
}

sup {
    font-size: 65%;
}

sup.entry {
    color: rgb(0, 110, 0);
}

sup.mid {
    color: rgb(143, 93, 1);
}

sup.expert {
    color: rgb(184, 0, 0);
}
