@charset "utf-8";

@import "normalize";
@import "html";
@import "page";


img#logo {
    position: relative;
    top: 40px;
}

div#helloctrl {
    text-align: right;
}

div.controls {
    font-size: 60%;
    text-align: right;

    a {
        margin-left: 15px;
    }
}

div.title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

div.subtitle {
    text-align: center;
    margin-bottom: 40px;
}

div.footnotes {
    margin-top: 5px;
    font-size: 80%;
}

div.toc {
    display: flex;
    margin-top: 40px;
}

div.column {
    flex: 50%;
}


span.good {
    color: green;
}

span.bad {
    color: darkred;
}

span.cargo-prefix {
    border: 1px solid rgb(200, 200, 200);
}

sup {
    font-size: 65%;
}

sup.entry {
    color: rgb(0, 110, 0);
}

sup.mid {
    color: rgb(143, 93, 1);
}

sup.expert {
    color: rgb(184, 0, 0);
}
