@charset "utf-8";
@import "normalize";
* {
    box-sizing: border-box;
}

@media screen {
    html {
        font-size: 9px;
    }
}

// Smaller font looks better on paper
@media print {
    html {
        font-size: 7px;
    }
}

body,
html {
    height: 100%;
}

body {
    text-rendering: optimizeLegibility;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.2px;
}

div.title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

div.subtitle {
    text-align: center;
    margin-bottom: 40px;
}

div.footnotes {
    margin-top: 5px;
    font-size: 80%;
}

img#logo {
    position: relative;
    top: 40px;
}

span.good {
    color: green;
}

span.bad {
    color: darkred;
}

@mixin min-screen($min-width: $body-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}

@mixin max-screen($max-width: $body-width) {
    @media screen and (max-width: $max-width) {
        @content;
    }
}

h1,
h2 {
    margin-bottom: 10px;
    margin-top: 30px;
}

h3 {
    margin-bottom: 5px;
    margin-top: 30px;
}

footer {
    text-align: center;
    color: gray;
    font-size: 9px;
}

$sidebar-width: 0px;
@import "navigation";
@import "content";
@import "header";
@import "cheats";