*.scss linguist-detectable=false
*.html linguist-detectable=false
*.md linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.sh linguist-detectable=false
*.pdf filter=lfs diff=lfs merge=lfs -text
