.cheats>table tr td:first-child {
    width: 250px;
}

.entry {
    color: rgb(0, 110, 0);
    font-size: 65%;
}

.mid {
    color: rgb(143, 93, 1);
    font-size: 65%;
}

.expert {
    color: rgb(184, 0, 0);
    font-size: 65%;
}

sup {
    padding: -5px;
}