.cheats>table tr td:nth-child(1) {
    width: 250px;
}

.keywords>table tr td:nth-child(1) {
    width: 150px;
}

.keywords>table tr td:nth-child(2) {
    width: 200px;
}

.entry {
    color: rgb(0, 110, 0);
    font-size: 65%;
}

.mid {
    color: rgb(143, 93, 1);
    font-size: 65%;
}

.expert {
    color: rgb(184, 0, 0);
    font-size: 65%;
}

sup {
    padding: -5px;
}