<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <link rel="icon" type="image/png" href="favicon32.png">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:500" rel="stylesheet" type="text/css"> -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ get_url(path="book.css") | safe }}">
    <link rel="stylesheet" href="{{ get_url(path="prism.css") | safe }}">
</head>

<body>

    <div class="page">
        <div class="page__content">

            <div class="book-content">
                <h1>{{ section.title }}</h1>
                {{ section.content | safe }}
            </div>
        </div>
    </div>


    <!-- Github ribbon -->
    <a class="noprint" href="https://github.com/ralfbiedert/cheats.rs/"><img
            style="position: absolute; top: 0; right: 0; border: 0;"
            src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

    <!-- Syntax highlighting -->
    <script type="text/javascript" src="{{ get_url(path="prism.js") | safe }}"></script>
    <script type="text/javascript">
        let codes = document.querySelectorAll("code");


        /// Enables or disables the playground.
        function show_playground(state) {
            let area_static = document.getElementById("hellostatic");
            let area_play = document.getElementById("helloplay");
            let area_ctrl = document.getElementById("helloctrl");

            if (state) {
                area_static.style = 'display: none;';
                area_play.innerHTML = '<iframe src="https://play.rust-lang.org/" style="width:100%; height:500px;"></iframe>';
                area_ctrl.innerHTML = '<a href="javascript:show_playground(false);">⏹️ Stop Editor</a>';
            } else {
                area_static.style = 'display: block;';
                area_play.innerHTML = '';
                area_ctrl.innerHTML = '<a href="javascript:show_playground(true);">▶️ Edit & Run</a>';
            }
        }

        // Called by toggle button, enable or disable night mode and persist setting in localStorage.
        function toggle_night_mode() {
            let body = document.getElementsByTagName("body")[0];
            if (body.classList.contains("night-mode")) {
                body.classList.remove("night-mode");
                localStorage.setItem('night-mode', 'day');
            } else {
                body.classList.add("night-mode");
                localStorage.setItem('night-mode', 'night');
            }
        }

        // Called by toggle button, enable or disable ligatures persist setting in localStorage.
        function toggle_ligatures() {
            let body = document.getElementsByTagName("body")[0];
            let set = undefined;

            if (codes[0].style.fontVariantLigatures == "common-ligatures") {
                set = "none";
                localStorage.setItem('ligatures', 'no-ligatures');
            } else {
                set = "common-ligatures";
                localStorage.setItem('ligatures', 'ligatures');
            }

            codes.forEach(code => {
                code.style.fontVariantLigatures = set;
            })
        }

        // Use proper syntax since we don't want to write ````rust ...``` all the time.
        codes.forEach(code => {
            code.className = "language-rust";
        });


        // Executed on page load, this runs all toggles the user might have clicked
        // the last time based on localStorage.
        try {
            let night_mode = localStorage.getItem('night-mode');
            let ligatures = localStorage.getItem('ligatures');

            if (night_mode === "night") {
                toggle_night_mode();
            }

            if (ligatures === "ligatures") {
                toggle_ligatures();
            }
        } catch (e) {
            console.log(e);
        }
    </script>
</body>

</html>