<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:500" rel="stylesheet" type="text/css">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    {% block js %}
    {% endblock js %}

    <!-- CSS -->
    {% block css %}
    <link rel="stylesheet" href="{{ get_url(path="book.css") | safe }}">
    <link rel="stylesheet" href="{{ get_url(path="prism.css") | safe }}">
    {% endblock css %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body>

    <div class="page">
        <div class="page__content">
            <div class="book-content">
                <h1>{{ section.title }}</h1>
                {{ section.content | safe }}
            </div>
        </div>
    </div>

    <a class="noprint" href="https://github.com/ralfbiedert/cheats.rs/"><img style="position: absolute; top: 0; right: 0; border: 0;"
            src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

    <script type="text/javascript" src="{{ get_url(path="prism.js") | safe }}"></script>
    <script type="text/javascript" src="{{ get_url(path="custom.js") | safe }}"></script>

    {% block js_body %}
    {% endblock js_body %}
</body>

</html>